[Desktop Entry]
Type=Application
Name=Audio Recorder
GenericName=Audio Recorder
Comment=Record and mix multiple audio tracks
Keywords=audio;record;recording;sound;music;podcast;voice;
Icon=audio-input-microphone
Exec=audio-recorder
Terminal=false
Categories=AudioVideo;Audio;Recorder;
StartupNotify=true

